<div class="preloader">
  <div class="loading-icon"><img
      src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/61591ea89bf0551a5b388e18_preloader.gif" alt=""
      class="preloader-icon" /></div>
</div>
<div class="page-wrapper">
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="nav-bar w-nav">
    <div class="nav-top">
      <div class="wrapper nav-top-wrapper">
        <div class="text-block">SALUZ</div>
        <div class="nav-top-info"></div>
      </div>
    </div>
    <div class="nav-top-menu">
      <div class="wrapper nav-top-wrapper">
        <div class="nav-top-info"></div>
        <nav role="navigation" class="nav-menu w-nav-menu"><a href="/" aria-current="page"
            class="nav-link w-nav-link">HOME</a><a href="#encontros-saluz"
            class="nav-link w-nav-link">ENCONTROS SALUZ</a><a href="#cultos-saluz" class="nav-link w-nav-link">CULTOS
            SALUZ</a><a href="#acampasaluz-2020" class="nav-link w-nav-link">ACAMPASALUZ 2020</a><a
            href="#preacampa2022" class="nav-link w-nav-link">PRÉ ACAMPA 2022</a><a href="#acampasaluz-2022"
            class="nav-link w-nav-link">ACAMPASALUZ 2022</a><a href="/" aria-current="page"
            class="nav-link w-nav-link">COMPRE SEU INGRESSO</a><a href="#instagram"
            class="nav-link w-nav-link">INSTAGRAM</a></nav>
      </div>
    </div>
  </div>
  <div id="slider-home" class="slider-home wf-section">
    <div data-animation="slide" data-duration="500" data-infinite="1" id="home" class="slider w-slider">
      <div class="w-slider-mask">
        <div class="slide w-slide"></div>
        <div class="slide-2 w-slide"></div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round"></div>
    </div>
  </div>
  <div id="encontros-saluz" class="encontros-saluz wf-section">
    <div id="encontro-villa" class="container w-container">
      <div class="div-h1">
        <h1 class="titulo-section">ENCONTROS saluz</h1>
      </div>
      <div class="columns w-row">
        <div class="w-col w-col-6">
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
        </div>
        <div class="coluna-slide w-col w-col-6">
          <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
            <div class="w-slider-mask">
              <div class="slide-3 w-slide"></div>
              <div class="slide-4 w-slide"></div>
              <div class="slide-5 w-slide"></div>
              <div class="slide-6 w-slide"></div>
              <div class="slide-7 w-slide"></div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
          </div>
        </div>
      </div>
      <div class="div-block">
        <h1 class="titulo-section">COMPAREÇA NO PRÓXIMO ENCONTRO SALUZ</h1>
        <h1 class="titulo-section">16/10 ÀS 09H</h1>
      </div>
      <div class="local">
        <div class="w-row">
          <div class="column-2 w-col w-col-2"><img
              src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a1d7c61b8944f5494471d_mapa.png"
              loading="lazy" width="75" alt="" /></div>
          <div class="column-3 w-col w-col-10">
            <p class="paragraph-2">Parque Villa Lobos<br />Av. Prof. Fonseca Rodrigues, 2001 - Alto de Pinheiros, São
              Paulo - SP, 05461-010<br />Ponto de Encontro: Concha Acústica</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="cultos-saluz" class="cultos-saluz wf-section">
    <div id="encontro-villa" class="container w-container">
      <div class="div-h1">
        <h1 class="titulo-section">cultos saluz</h1>
      </div>
      <div class="columns w-row">
        <div class="w-col w-col-6">
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
        </div>
        <div class="coluna-slide w-col w-col-6">
          <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
            <div class="w-slider-mask">
              <div class="slide-8 w-slide"></div>
              <div class="slide-9 w-slide"></div>
              <div class="slide-10 w-slide"></div>
              <div class="slide-11 w-slide"></div>
              <div class="slide-12 w-slide"></div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="acampasaluz-2020" class="acampasaluz-2020 wf-section">
    <div id="encontro-villa" class="container w-container">
      <div class="div-h1">
        <h1 class="titulo-section">acampa saluz 2020</h1>
      </div>
      <div class="columns w-row">
        <div class="w-col w-col-6">
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
        </div>
        <div class="coluna-slide w-col w-col-6">
          <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
            <div class="w-slider-mask">
              <div class="slide-13 w-slide"></div>
              <div class="slide-14 w-slide"></div>
              <div class="slide-15 w-slide"></div>
              <div class="slide-16 w-slide"></div>
              <div class="slide-17 w-slide"></div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="preacampa2022" class="preacampa2022 wf-section">
    <div id="encontro-villa" class="container w-container">
      <div class="div-h1">
        <h1 class="titulo-section">pré acampa 2022</h1>
      </div>
      <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
        vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
        posuere.</p>
      <p class="paragraph">Clique nas imagens abaixo para ampliá-las</p>
      <div class="colunas-preacampa w-row">
        <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
              src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464.jpeg"
              loading="lazy" width="193"
              sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
              srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-500.jpeg 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464-p-2000.jpeg 2000w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464.jpeg 2048w"
              alt="" class="image-preacampa" />
            <script type="application/json" class="w-json">{
"items": [
  {
    "width": 2048,
    "caption": "",
    "height": 1536,
    "fileName": "IMG_9464.jpeg",
    "origFileName": "IMG_9464.jpeg",
    "url": "https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a21ef22b48c1cf91854ff_IMG_9464.jpeg",
    "_id": "615a21ef22b48c1cf91854ff",
    "type": "image",
    "fileSize": 764151
  }
]
}</script>
          </a></div>
        <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
              src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png"
              loading="lazy" sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
              srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png 1920w"
              alt="" class="image-preacampa" /></a></div>
        <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
              src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png"
              loading="lazy" sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
              srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png 1920w"
              alt="" class="image-preacampa" /></a></div>
        <div class="coluna-preacampa w-col w-col-3"><a href="#" class="w-inline-block w-lightbox"><img
              src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png"
              loading="lazy" sizes="(max-width: 479px) 193px, (max-width: 767px) 40vw, (max-width: 991px) 22vw, 193px"
              srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1080.png 1080w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1)-p-1600.png 1600w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a23f837f167c2339b81bb_Design%20sem%20nome%20(1).png 1920w"
              alt="" class="image-preacampa" /></a></div>
      </div>
      <div class="colunas-preacampa-text w-row">
        <div class="coluna-preacampa-text w-col w-col-3">
          <h5 class="h5">Setembro</h5>
        </div>
        <div class="coluna-preacampa-text w-col w-col-3">
          <h5 class="h5">Outubro</h5>
        </div>
        <div class="coluna-preacampa-text w-col w-col-3">
          <h5 class="h5">Novembro</h5>
        </div>
        <div class="coluna-preacampa-text w-col w-col-3">
          <h5 class="h5">Dezembro</h5>
        </div>
      </div>
    </div>
  </div>
  <div id="acampasaluz-2022" class="acampasaluz-2022 wf-section">
    <div id="encontro-villa" class="container w-container">
      <div class="div-h1">
        <div class="div-h1">
          <h1 class="titulo-section">acampa saluz 2022</h1>
        </div>
      </div>
      <div class="columns w-row">
        <div class="w-col w-col-6">
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
          <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
            tristique posuere.</p>
        </div>
        <div class="w-col w-col-6">
          <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-fotos w-slider">
            <div class="w-slider-mask">
              <div class="slide-18 w-slide"></div>
              <div class="slide-19 w-slide"></div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
          </div>
        </div>
      </div><a href="/compre-seu-ingresso" class="link-block w-inline-block">
        <div class="div-block botao-ingresso">Adquira já seu ingresso!</div>
      </a>
    </div>
  </div>
  <div class="section video-section wf-section">
    <div class="wrapper">
      <div data-w-id="3c65db2d-dfc4-c6e7-82f4-ccf13df0f1d5" style="opacity:0" class="intro wide no-margin">
        <h2 class="heading">Vocês são o sal da terra. Mas, se o sal perder o seu sabor, como restaurá-lo? Não servirá
          para nada, exceto para ser jogado fora e pisado pelos homens. Vocês são a luz do mundo (...)</h2>
        <p class="paragraph-3">Mateus 5 : 13 - 14</p><a href="#" class="w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6).png"
            loading="lazy" width="67" sizes="67px"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6)-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6)-p-800.png 800w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a2d7a7bec5c5e35d442a7_Design%20sem%20nome%20(6).png 1080w"
            alt="" class="image-3" /></a>
      </div>
    </div>
  </div>
  <div id="instagram" class="section haze wf-section">
    <div class="wrapper-instagram">
      <div class="intro">
        <h2 class="no-margin-bottom">Estamos no Instagram!</h2>
      </div>
      <div data-w-id="6e1d3527-5090-7380-17f7-30bf0f5a58b4" class="instagram"><a href="https://instagram.com/saluz.ibln"
          target="_blank" class="instagram-link w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30abad04b54507158efc_Screenshot_1.png"
            sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30abad04b54507158efc_Screenshot_1-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30abad04b54507158efc_Screenshot_1.png 748w"
            alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
          class="instagram-link w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652304ee609e6f_Screenshot_3.png"
            sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652304ee609e6f_Screenshot_3-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652304ee609e6f_Screenshot_3.png 747w"
            alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
          class="instagram-link w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acad04b5738c158efd_Screenshot_5.png"
            sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acad04b5738c158efd_Screenshot_5-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acad04b5738c158efd_Screenshot_5.png 747w"
            alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
          class="instagram-link w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652303de609e6e_Screenshot_4.png"
            sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652303de609e6e_Screenshot_4-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acc7652303de609e6e_Screenshot_4.png 747w"
            alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
          class="instagram-link w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acdfb167770bdc8e08_Screenshot_6.png"
            sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acdfb167770bdc8e08_Screenshot_6-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acdfb167770bdc8e08_Screenshot_6.png 745w"
            alt="" class="full-width" /></a><a href="https://instagram.com/saluz.ibln" target="_blank"
          class="instagram-link w-inline-block"><img
            src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acbceb090c1e87594a_Screenshot_7.png"
            sizes="(max-width: 767px) 30vw, (max-width: 991px) 22vw, 14vw"
            srcset="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acbceb090c1e87594a_Screenshot_7-p-500.png 500w, https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a30acbceb090c1e87594a_Screenshot_7.png 744w"
            alt="" class="full-width" /></a></div><a href="https://instagram.com/saluz.ibln" target="_blank"
        class="button w-button">See More Photos</a>
    </div>
  </div>
  <div class="section color no-padding-vertical wf-section">
    <div class="wrapper text-white">
      <div class="footer">
        <div class="footer-left"><a href="/" aria-current="page" class="footer-brand w-nav-brand w--current">
            <div><img
                src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/615a28f5d0b0fe4abbac0f5f_SALUZ_BRANCO.png"
                loading="lazy" width="66" alt="" /></div>
          </a></div>
      </div>
    </div>
  </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=61591ea89bf0555a27388dc6"
  type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="https://uploads-ssl.webflow.com/61591ea89bf0555a27388dc6/js/webflow.144fa3caa.js"
  type="text/javascript"></script>
<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
