<div class="page container-fluid">
  <div class="title">
    Ranking
    <img src="/assets/images/trophy.png" alt="Troféu">
  </div>

  <div class="chart-section">
    <app-mensal-chart></app-mensal-chart>
  </div>

  <div class="title">
    Semana a Semana
  </div>


  <ul>
    <li>
      Semana 1
    </li>
  </ul>


  <div class="flex-center table-responsive">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Critérios</th>
          <th class="text-center">
            <img src="/assets/images/trophy.png" height="30" width="30" alt="Troféu">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Frequência EBD</td>
          <td class="text-center">
            <span class="time-circle"></span>
          </td>
        </tr>
        <tr>
          <td>Perguntas EBD</td>
          <td class="text-center">
            <span class="time-circle"></span>
          </td>
        </tr>
        <tr>
          <td>Encontro Vila</td>
          <td class="text-center">
            <span class="time-circle"></span>
          </td>
        </tr>
        <tr>
          <td>Gincana Vila</td>
          <td class="text-center">
            <span class="time-circle"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
